.emp-profile{
    box-shadow: 5px 5px 10px grey;
    margin:5vh auto;
    padding:5vh;
}

.emp-image{
    width:50%;
    margin-left:25%;
}

.profile-edit-button{
    border-radius:5px;
}

.nav-pills{
    padding:5px;
    border-bottom:2px solid rgb(177, 172, 172);
}