.signup{
    box-shadow: 5px 5px 10px grey;
    width:50%;
    margin:5vh auto;
    padding:5vh;
}

.register-form{
    margin-top:5vh;
}

.form-group{
    border-bottom: 2px solid rgb(185, 168, 168);
}

.form-input{
    margin:0 2vh;
    border:none;
    outline: none;
}

.form-submit{
    background:rgb(238, 179, 111);
    padding:1vh;
    border:none;
    border:2px solid orange;
    border-radius: 5px;
    padding:1vh 3vh;
    margin-top:3vh;
}

.signup-image{
    width:60%;
    margin: 0 auto;
    text-align: center;
}
.form-image{
    width:100%;
}
